# Created by .ignore support plugin (hsz.mobi)
.htaccess
.htaccess.sample
.idea/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
RELEASE_NOTES.txt
api.php
app/design/
app/code/community/
app/code/core/
app/etc/
!app/etc/modules/Itransition_ShippingInsurance.xml
!app/design/frontend/base/default/layout/itransition_shipping_insurance.xml
!app/design/frontend/base/default/template/shipping/shippinginsurance.phtml
app/locale/
app/.htaccess
app/bootstrap.php
app/Mage.php
cron.php
cron.sh
dev/
downloader/
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/
lib/
mage
media/
php.ini.sample
shell/
skin/
var/
